.search-history_item {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.search-history_text {
  flex: 1;
}
.search-history_clear {
  color: grey;
  border: none;
  cursor: pointer;
  &:hover {
    color: black;
  }
}
.hidden {
  display: none;
}
