@import "../../styles.scss";

.result {
  display: flex;
  gap: 1em;
  padding: 0.5em;
}
.result-info {
  display: flex;
  flex-direction: column;
}
.result_image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
