@mixin border-top {
  border-top: 1px solid;
}
@mixin round-corner {
  border-radius: 8px;
}

html {
  background: url(/assets/background.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @media screen and (max-width: 1024px) {
    background-position: right;
  }
}

body {
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}
main {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
}

.search-box {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 20%;
  flex-direction: column;
  background: white;
  @include round-corner;
  height: fit-content;
  align-self: center;
  width: 70%;
  @media only screen and (max-width: 956px) {
    font-size: 24px;
    width: 80%;
    top: 10%;
  }
}

.search-input {
  border: none;
  height: 2em;
  font-size: 32px;
  padding: 0.5em;
  @include round-corner;
  outline: none;
  border-radius: 8px 8px 8px;
  width: 100%;
  @media only screen and (max-width: 956px) {
    font-size: 24px;
  }
}

.message {
  padding: 0.5em;
  font-size: 20px;
  @include border-top;
  width: 100%;
  text-align: center;
}

.text-bold {
  font-weight: 900;
}
